<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="cn.rdm.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="cn.rdm.Perspective"
            id="RailDeivceManage.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="cn.rdm.View"
            id="RailDeivceManage.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="cn.rdm.NavigationView"
            id="RailDeivceManage.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="RailDeivceManage.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="RailDeivceManage.category"
            id="RailDeivceManage.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="RailDeivceManage.category"
            id="RailDeivceManage.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="RailDeivceManage.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="RailDeivceManage.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="RailDeivceManage.application"
            name="Rail Device Manage">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cn.rdm.ui.editors.DeviceEditor"
            default="false"
            id="rdm.editor.Device"
            name="Device Editor">
      </editor>
      <editor
            class="cn.rdm.ui.editors.DeviceListEditor"
            default="false"
            id="rdm.editor.DeviceList"
            name="Device List">
      </editor>
   </extension>

</plugin>
