/** Add css rules here for your application. */
.container {
	width: 100%;
	max-width: 800px;/* 可能需要最大宽度，以防止此布局在大型显示器上过宽。这将使行长度更便于阅读。IE6 不遵循此声明。 */
	min-width: 800px;/* 可能需要最小宽度，以防止此布局过窄。这将使侧面列中的行长度更便于阅读。IE6 不遵循此声明。 */
	background-color: #FFF;/*#277777;*/
	margin: 0 auto; /* 侧边的自动值与宽度结合使用，可以将布局居中对齐。如果将 .container 宽度设置为 100%，则不需要此设置。 */
	margin-top:0px;
}

.gwt-panel {
	width: 100%;
	background-color: #FFF;/**#777777**/
	height:560px;
}

.jobScheduleTable {
	background-color: #f0e68c;/*#277777;ffe4c4  ffe465  ffdead  f0e68c*/
}


/** Example rules used by the template application (remove for your app) */
.statustip {
  font-size: 0.7em;
  color: #277777;	/**#777777**/
  text-align: right;
}

.tablecell {
	width: 20%;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #277777;	/**#777777**/
  margin: 0px 0px 0px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 8pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 720px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
